@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  src: url('../../public/fonts/Outfit-ExtraLight.ttf');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/fonts/Outfit-Light.ttf');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Outfit-Medium.ttf');
}
