@use '../../styles/colors' as *;
@use '../../styles/mixins' as *;

.nav {
  &__list {
    display: flex;

    @include onDesktop {
      flex-direction: column;
    }
  }

  &__link {
    display: flex;

    padding: 12px;

    @include onTablet {
      padding: 16px;
    }

    @include onDesktop {
      padding: 20px;
    }

    &--active path {
      fill: $color__primary;
    }
  }

  &__icon {
    height: 16px;

    @include onTablet {
      height: 20px;
    }
  }
}
